
#top {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;
    display: flex;
}

#editor-1 {
    width: 100%;
    height: 100%;
    border: 1px solid #737373;
    border-radius: 1px;
}

#editor-2 {
    width: 100%;
    height: 100%;
    border: 1px solid #737373;
    border-radius: 1px;
}

.terminal {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 0;
    left: 0;
    border: 1px solid #737373;
    border-radius: 1px;
}

.terminal > div {
    width: 100%;
    height: 100%;
}

.terminal > div > div {
    position: static;
    width: 100%;
    height: 100%;
}

.source-pane {
    width: 100%;
    height: 100%;
    border: 1px solid #737373;
    border-radius: 1px;
}

.builder-form {
    width: 100%;
    height: 100vh;
    border: 1px solid #737373;
    border-radius: 1px;
    overflow: scroll;
}

.ace_status-indicator {
    color: rgb(165, 165, 165);
    position: absolute;
    right: 2px;
}

.builder-form > form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.formfield * {
    vertical-align: top;
}

.label-form-part {
    display: flex;
    flex-direction: column;
}

.label-form-part:first-child {
    display: flex;
}

.range-form-container {
    display: flex;
    align-items: end;
    justify-content: space-around;
}

.range-form-container input[type="number"] {
    width: 6em;
}

label > :nth-child(1) {
    margin-right: 1em;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 0px;
    padding: 0;
}

.react-tabs {
    overflow: hidden;
}

.react-tabs,
.react-tabs__tab-panel {
    width: 100%;
    height: 100%;
}

.tab-close-btn {
    margin: 0px -4px 0px 3px;
    width: 1em;
    font-size: medium;
    padding: 1px 5px;
    bottom: 1px;
    position: relative;
    background-color: #454545;
    border-radius: 30%;
}

.react-tabs__tab--selected {
    background: #f2f2f2;
}

.react-tabs__tab--selected > .tab-close-btn {
    background-color: #d7d7d7;
}

.tab-close-btn:hover {
    background-color: #aaa;
}

.react-tabs__tab-list > :last-child {
    position: relative;
    bottom: 1px;
}

.react-tabs__tab-list > :last-child:hover {
    position: relative;
    background-color: #373737;
    border-radius: 30%;
    padding: 0px 7px 2px 8px;
    margin-left: 4px;
}
